/**
HTML OVERRIDES
**/
body{
    width: 100%;
    padding: 0;
    margin: 0;
}

input{
    text-align: center;
}

/**
BOOTSTRAP OVERRIDES
**/
.container{
    width: 100vw;
    padding: 0;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 1.0vh;
}

/**
ID's
**/
#searchBar{
    width: 95vw;
    text-align: center;
}